---
import Home from '../../layouts/Home.astro'
import { checkAuth } from '../../lib/checkAuth'
import { hw_1, hw_2} from '../../data/hw'
import { hw_3 } from '../../data/hw_old'
import { projects_1, projects_2, projects_3 } from '../../data/projects'
import HorizontalLine from '../../components/HorizontalLine.astro'
import { ContributionChart } from '../../components/ContributionChart'
import { Kanban } from '../../components/Kanban'
import { supabase } from '../../lib/supabase'

const { cookies, redirect } = Astro

const auth = await checkAuth({ cookies, redirect })
  .then((data) => data)
  .catch((err) => console.log(err))

const email = auth.user.email

const { data: profile } = await supabase
  .from('profile')
  .select()
  .eq('email', email)
  .single()

const { data: kanbanData, error } = await supabase
      .from('kanban')
      .select('*')
      .eq('user_id', profile.user_id)
      .single()

// console.log(kanbanData)

if (kanbanData.hw === null) {
  const hw1 = hw_1.filter((h): h is string => !!h)
  const hw2 = hw_2.filter((h): h is string => !!h)
  const hw3 = hw_3.filter((h): h is string => !!h)
  const hws: string[][] = [hw1, hw2, hw3]
  const proj1 = projects_1.filter((h): h is string => !!h);
  const proj2 = projects_2.filter((h): h is string => !!h);
  const proj3 = projects_3.filter((h): h is string => !!h);
  const projs: string[][] = [proj1, proj2, proj3];
  const initializedBoard = {
    todo: hws[0],
    doing: [],
    review: [],
    done: [],
  }
}
  
const name = profile.first_name || profile.last_name ? `${profile.first_name} ${profile.last_name}` : null
const username = name ?? email.split('@')[0]
---

<Home>
  <hgroup class="center">
    <h1>My Progress</h1>
    <strong>Welcome{username ? ' ' + username : ''}!</strong>
  </hgroup>
  <HorizontalLine />
  <h6 class="center">Attendance Record</h6>
  <ContributionChart client:idle />
  <HorizontalLine />
    <h6 class="center">Kanban Board</h6>
    <Kanban client:idle data={kanbanData} />
  <HorizontalLine />
  <h3 class="center">Homework</h3>
  <div class="container">
    <article>
      <h6 class="center">Section 1: HTML & CSS</h6>
      <p class="center"><a href="https://www.freecodecamp.org/learn/2022/responsive-web-design/">Responsive Web Design <br />@ freecodecamp</a></p>
      <ol>
        {hw_1.filter(Boolean).map((hw) => <li>{hw}</li>)}
      </ol>
    </article>
    <article>
      <h6 class="center">Section 2: Javascript</h6>
      <p class="center"><a href="https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures-v8/">JavaScript Algorithms and Data Structures <br />@ freecodecamp</a></p>
      <ol>
        {hw_2.filter(Boolean).map((hw) => <li>{hw}</li>)}
      </ol>
    </article>
    <article>
      <h6 class="center">Section 3: React</h6>
      <p class="center"><a href="https://www.freecodecamp.org/learn/front-end-development-libraries/">Front End Development Libraries <br />@ freecodecamp</a></p>
      <ol>
        {hw_3.filter(Boolean).map((hw) => <li>{hw}</li>)}
      </ol>
    </article>
  </div>
  <HorizontalLine />
  <h3 class="center">Projects</h3>
  <div class="container">
    <article>
      <h6 class="center">Section 1: HTML & CSS</h6>
      <ol>
        <li>Resume <em>(Class Proj)</em></li>
        {projects_1.filter(Boolean).map((project) => <li><a href={`https://www.freecodecamp.org/learn/2022/responsive-web-design/#build-a-${project?.split(' ').join('-')}-project`}>{project}</a></li>)}
        <li>CSS Pattern Library <em>(Class Proj)</em></li>
      </ol>
    </article>
    <article>
      <h6 class="center">Section 2: Javascript</h6>
      <ol>
        {projects_2.filter(Boolean).map((project) => <li><a href={`https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures-v8/#build-a-${project?.split(' ').join('-')}-project`}>{project}</a></li>)}
        <li>MVC Dragon Clicker <em>(Class Proj)</em></li>
      </ol>
    </article>
    <article>
      <h6 class="center">Section 3: React</h6>
      <p class="center"><a href="https://www.freecodecamp.org/learn/front-end-development-libraries/#front-end-development-libraries-projects">React Projects <br />@ freecodecamp</a></p>
      <div style="display: flex; gap: 1em;">
        <ol>
          <em>All of the FCC.org projects:</em>
          {projects_3.filter(Boolean).map((project) => <li>{project}</li>)}
        </ol>
        <ul>
          <em>One of the class projects:</em>
          <li>react dice roller</li>
          <li>react dragon clicker</li>
          <li>react todos</li>
          <li>react news</li>
          <li>redux editor</li>
          <li>supabase bookmarks</li>
        </ul>
      </div>
    </article>
  </div>
</Home>

<style>
  ol li::marker, ul li::marker {
    color: var(--h6-color);
    font-weight: 300;
  }
  ol li, ul li {
    font-weight: bold;
    text-transform: capitalize;
  }
  .container {
    display: flex;
    gap: 2em;
    justify-content: center;
    flex-wrap: wrap;
  }
  p a {
    text-decoration: underline;
  }
</style>
