---
import Home from "../layouts/Home.astro";
import { checkAuth } from "../lib/checkAuth";
import { hw_1, hw_2, hw_3 } from "../data/hw";
import { projects_1, projects_2, projects_3 } from "../data/projects";
import HorizontalLine from "../components/HorizontalLine.astro";
import { ContributionChart } from "../components/ContributionChart";
import { supabase } from "../lib/supabase";
import MessageScript from "../components/MessageScript.astro";

const { cookies, redirect } = Astro;

const auth = await checkAuth({ cookies, redirect })
  .then((data) => data)
  .catch((err) => console.log(err));

const { data, error } = await supabase
  .from('profile')
  .select('first_name,last_name')
  
const username = /*(profile?.first_name + profile?.last_name) ??*/ auth?.user?.email.split("@")[0]
---

<Home>
  <hgroup class="center">
    <h1>My Progress</h1>
    <strong>Welcome{username ? ' ' + username : ''}!</strong>
  </hgroup>
  <HorizontalLine />
  <h6 class="center">Attendance Record</h6>
  <ContributionChart client:idle />
  <HorizontalLine />
  <h3 class="center">Homework</h3>
  <div class="container">
    <article>
      <h6 class="center">Section 1: HTML & CSS</h6>
      <p class="center"><a href="https://www.freecodecamp.org/learn/2022/responsive-web-design/">Responsive Web Design <br />@ freecodecamp</a></p>
      <ol>
        {hw_1.filter(Boolean).map((hw) => <li>{hw}</li>)}
      </ol>
    </article>
    <article>
      <h6 class="center">Section 2: Javascript</h6>
      <p class="center"><a href="https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures-v8/">JavaScript Algorithms and Data Structures <br />@ freecodecamp</a></p>
      <ol>
        {hw_2.filter(Boolean).map((hw) => <li>{hw}</li>)}
      </ol>
    </article>
    <article>
      <h6 class="center">Section 3: React</h6>
      <p class="center"><a href="https://www.freecodecamp.org/learn/front-end-development-libraries/">Front End Development Libraries <br />@ freecodecamp</a></p>
      <ol>
        {hw_3.filter(Boolean).map((hw) => <li>{hw}</li>)}
      </ol>
    </article>
  </div>
  <HorizontalLine />
  <h3 class="center">Projects</h3>
  <div class="container">
    <article>
      <h6 class="center">Section 1: HTML & CSS</h6>
      <ol>
        <li><a href="">Resume</a></li>
        {projects_1.filter(Boolean).map((project) => <li><a href={`https://www.freecodecamp.org/learn/2022/responsive-web-design/#build-a-${project?.split(' ').join('-')}-project`}>{project}</a></li>)}
      </ol>
    </article>
    <article>
      <h6 class="center">Section 2: Javascript</h6>
      <ol>
        {projects_2.filter(Boolean).map((project) => <li><a href={`https://www.freecodecamp.org/learn/javascript-algorithms-and-data-structures-v8/#build-a-${project?.split(' ').join('-')}-project`}>{project}</a></li>)}
      </ol>
    </article>
    <article>
      <h6 class="center">Section 3: React</h6>
      <p class="center"><a href="https://www.freecodecamp.org/learn/front-end-development-libraries/#front-end-development-libraries-projects">React Projects <br />@ freecodecamp</a></p>
      <ol>
        {projects_3.filter(Boolean).map((project) => <li>{project}</li>)}
      </ol>
    </article>
  </div>
</Home>

<style>
  ol li::marker {
    color: var(--h6-color);
    font-weight: 300;
  }
  ol li {
    font-weight: bold;
    text-transform: capitalize;
  }
  .container {
    display: flex;
    gap: 2em;
    justify-content: center;
    flex-wrap: wrap;
  }
  p a {
    text-decoration: underline;
  }
</style>
