---
import { Icon } from "astro-icon/components";
import Home from "../layouts/Home.astro";
import { quizzes_1, quizzes_2, quizzes_3 } from "../data/quizzes";
import { QUIZCODE } from "../data/QUIZCODE";
---

<Home>
  <header class="banner" slot="banner">
    <Icon name="external_link" />
    <h5>Today's Quiz Code: {QUIZCODE}</h5>
    <strong>{QUIZCODE ? "" : "(No quiz today)"}</strong>
    <a href={`https://www.classtime.com/code/${QUIZCODE}`}
      >direct classtime.com link</a
    >
    <Icon name="checked_circle" />
  </header>
  <div>
    <p class="center">
      Quizzes are taken at <a href="https://www.classtime.com/en"
        >classtime.com</a
      >!
    </p>
    <br />

    <h1 class="center">Course Quizzes</h1>
    <div class="container">
      <article>
        <h6>Section 1: HTML & CSS</h6>
        <ol>
          {quizzes_1.filter(Boolean).map((quiz) => <li>{quiz}</li>)}
        </ol>
      </article>
      <article>
        <h6>Section 2: Javascript</h6>
        <ol>
          {quizzes_2.filter(Boolean).map((quiz) => <li>{quiz}</li>)}
        </ol>
      </article>
      <article>
        <h6>Section 3: React</h6>
        <ol>
          {quizzes_3.filter(Boolean).map((quiz) => <li>{quiz}</li>)}
        </ol>
      </article>
    </div>
  </div>
</Home>

<style>
  html[data-theme="dark"] header :is(strong, a, svg) {
    color: var(--gray-8);
    margin: 0;
  }
  h6 {
    text-decoration: underline;
  }
  html[data-theme="dark"] header {
    background: var(--gray-3);
  }
  header {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    background: var(--tan);
    padding-block: 1em;
  }
  header > * {
    margin: 0;
  }
  header a {
    text-decoration: underline;
  }
  ol li::marker {
    color: var(--h6-color);
    font-weight: 300;
  }
  ol li {
    font-weight: bold;
    text-transform: capitalize;
  }
  .container {
    display: flex;
    gap: 2em;
    justify-content: center;
    flex-wrap: wrap;
  }
</style>
