---
import { Icon } from 'astro-icon/components'
import dayjs from 'dayjs'
const { item } = Astro.props;
---


<li>
  <hgroup>
    <h4>{item.outline.topic}</h4>
    <small>{dayjs(item.date).format('M/D/YYYY')}</small>
  </hgroup>
  <ol class="grid">{item.outline.key.split('\n').filter(i => Boolean(i.trim())).map((k: string) => <li class="grid-li">{k}</li>)}</ol>
  <ul class="sub-items">
    {item.quiz && <li>
        <Icon name="quiz"/> 
        <span>Quiz: </span>
        <span>{item.quiz}</span>
      </li>
    }
    {item.hw && <li>
        <Icon name="homework"/> 
        <span>Homework: </span>
        <span>{item.hw}</span>
      </li>
    }
    {item.project && <li>
        <Icon name="project"/> 
        <span>Project: </span>
        <span>{item.project}</span>
      </li>
    }
  </ul>
</li>

<style>
  hgroup {
    display: flex;
    gap: 8px;
  }
  hgroup small {
    margin-left: auto;
    color: var(--gray-4);
  }
  ol.grid {
    display: grid;
    gap: 16px 24px;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 250px);;
  }
  ol.grid > li {
    list-style: decimal;
    text-transform: capitalize;
  }
  ol.grid > li::marker {
    font-size: 0.85rem;
    color: var(--gray-4);
  }
  ul.sub-items {
    text-transform: capitalize;
  }
  li:not(.grid-li) {
    list-style: none;
    border: 1px solid #000;
    padding: 8px;
    border-radius: 8px;
    background-color: var(--dark);
  }
  html[data-theme="light"] li {
    border-color: #fff;
    background-color: var(--gray-1);
  }
</style>